/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
    font-family:"Noto Sans";
}

.containerouter{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99;border-top:solid #fff 4em;border-bottom:solid #fff 4em;border-left:solid #fff 1em;border-right:solid #fff 1em;pointer-events: none;box-sizing: border-box;}

.container{
    position:absolute;
    box-sizing: border-box;
    padding:2em 1em 2em 1em;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.box{
    display:block;
    max-width:100%;
    top:0;
    left:0;
    justify-content: center;
}

.within{
    width:100%;
    top: 50%;transform: translateY(-50%);position:relative;
}

.contentLeft{
    float:left;
    padding:1em;
}

.contentRight{
    float:right;
    padding:1em;
}


.contentCenter{
    margin:0 auto;
    width:100%;
}



/* Entries */

.entryContainer{
    width:850px;
    margin:auto;
    position: relative;
    left:20px;
}

.entries h1{
    font-family:"Work Sans";
    text-shadow:0 0 15px #4442d9;
    text-transform: uppercase;
    font-size:48px;
    letter-spacing:2px;
    margin:.5em;
    color:white;
}

.entries p{
    text-align:center !important;
}

.entries h2{
    font-family: "Work Sans";
    font-weight: 300;
    color:white;
    text-align:center;
    display:block;
    text-decoration:underline;
}


.work{
    width:340px;
    padding:1em;
    margin:1em;
    float:left;
    border-bottom:1px solid #ccc;
}

.work h2{
    font-family: "Rubik";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing:1px;
    color:white;
    border-bottom:1px solid;
    display:inline-block;
}

.work p{
    font-family: "Karla";
    color:white;
}

.work strong{
    color:white;
    font-family: "Rubik";
    margin:.4em;
    padding:.5em;
    text-decoration: underline;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}